@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


:root {
  font-family: "Inter", "sans-serif";
  scroll-behavior: smooth;
}

@theme inline {
  /* Configure your theme variables here */
  --font-display: "Inter", "sans-serif";
  --color-primary: #ffd900;
  --color-base: #5e5e5e;
  --color-border: #f0eff1;
  --color-para: #7c7c7c;
  --spacing: 0.25rem;
}

@layer base {
  h1 {
    @apply text-6xl font-bold;
  }

  button {
    @apply cursor-pointer;
  }

  input {
    @apply border border-border rounded-xl p-2 text-sm outline-cyan-200;
  }
}

@layer components {
  .hero-h1 {
    @apply text-6xl font-bold;
  }

  .para {
    @apply text-para;
  }

  .btn-primary {
    @apply w-fit mx-auto text-sm font-medium border border-cyan-300 bg-linear-to-bl from-cyan-400 via-cyan-500 to-cyan-600 to-90% text-white px-6 py-2 rounded-lg shadow-md hover:opacity-90 transition;
  }

  .btn-base {
    @apply w-fit mx-auto text-sm font-medium border border-zinc-900 bg-linear-to-b from-zinc-700 via-zinc-800 to-zinc-900 to-90% text-white px-6 py-2 rounded-lg shadow-md hover:opacity-90 transition;
  }

  .btn-light {
    @apply w-fit mx-auto text-sm font-medium border border-border bg-linear-to-bl from-gray-50 via-gray-200 to-gray-100 to-90% text-black px-6 py-2 rounded-lg shadow-md hover:opacity-90 transition;
  }

  .container {
    @apply my-36 text-center;
  }
}
